name: Build DevAtServ

on:
  push:
    tags:
      - "rel/das/*.*.*.*"
      - "dev/das/*.*.*.*"
  pull_request:
    types:
      - closed
      - opened
      - synchronize
    branches:
    - develop

  workflow_dispatch:

jobs:
  build-devatserv-GUI:
    name: DevAtServ's GUI
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./python-microservice-base/MicroserviceBase/MicroserviceManagerGUI
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Clone python-microservice-base
        uses: GuillaumeFalourd/clone-github-repo-action@v2.3
        with:
          depth: 1
          branch: 'htv3hc/feat/release-microservice-base-gui'
          owner: 'test-fullautomation'
          repository: 'python-microservice-base'

      - name: Run npm install
        run: npm install

      - name: Run npm dist
        run: |
          npm run dist
    
      - name: Upload all DevAtServ's GUI Unbuntu artifacts.
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: das-gui-artifact-deb
          path: ./python-microservice-base/MicroserviceBase/MicroserviceManagerGUI/dist/*.deb


      - name: Upload all DevAtServ's GUI Windows artifacts.
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: das-gui-artifact-exe
          path: ./python-microservice-base/MicroserviceBase/MicroserviceManagerGUI/dist/*.exe
  
  build-devatserv-services:
    name: DevAtServ Services
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Starting all services
        run: |
          chmod +x ./install.sh
          ./install.sh

      - name: Save Docker Images
        run: |
          docker image save --output devarserv-cleware-service.tar.gz devatserv-cleware-service
          docker image save --output devarserv-service-base.tar.gz devatserv-service-base
          docker image save --output rabbitmq.tar.gz rabbitmq

      - name: Zip DevAtServ Images
        run: |
          zip devatserv_images.zip devarserv-cleware-service.tar.gz devarserv-service-base.tar.gz rabbitmq.tar.gz

      - name: Upload Docker Images Zip
        uses: actions/upload-artifact@v4
        with:
          name: devatserv-images
          path: devatserv_images.zip

  deploy-devatserv-liunx:
    name: DevAtServ tool Linux
    runs-on: ubuntu-latest
    needs: [ build-devatserv-GUI , build-devatserv-services ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download DevAtServ's GUI on Unbuntu
        uses: actions/download-artifact@v4
        with:
          name: das-gui-artifact-deb
      
      - name: Download DevAtServ Services
        uses: actions/download-artifact@v4
        with:
          name: devatserv-images   

      - name: Build DevAtServ
        run: |
          ls -la
          chmod +x ./build.sh
          ./build.sh

      - name: Upload Debian package
        uses: actions/upload-artifact@v4
        with:
          name: devatserv-linux-package
          path: output_Linux/*.deb


  build-devatserv-windows:
    name: DevAtServ tool Windows
    runs-on: windows-latest
    needs: [ build-devatserv-GUI , build-devatserv-services ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download DevAtServ's GUI on Windows
        uses: actions/download-artifact@v4
        with:
          name: das-gui-artifact-exe
      
      - name: Download DevAtServ Services
        uses: actions/download-artifact@v4
        with:
          name: devatserv-images

      - name: Build DevAtServ
        shell: bash
        run: |
          chmod +x ./build.sh
          ./build.sh

      - name: Upload Exe package
        uses: actions/upload-artifact@v4
        with:
          name: devatserv-windows-package
          path: output_Windows/*.exe